{% extends 'base.html' %} {% block content %}
<div class="content"><h2>Video Registration</h2></div>

<form action="." method="POST" enctype="multipart/form-data" class="form-horizontal">
    
    {% csrf_token %}
    {% for non_field_error in form.non_field_errors %}
        <p class="help is-danger">{{ non_field_error }}</p>
    {% endfor %}
    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="control-label col-sm-2">{{ field.label_tag }}</label>
            <div class="col-sm-10">{{ field }}</div>
        {% for error in field.errors %}
            <p class="help is-danger">{{ error }}</p>
        {% endfor %}
        </div>
    {% endfor %}
    <input type="submit" value="Save" class="btn btn-primary">
    
</form>

{% endblock %}
