{% extends 'base.html' %} {% block content %}

<h1>Lista de Videos</h1>
<a href="{% url 'video-create' %}" class="btn btn-danger m-1 float-right"
  ><i class="fa fa-video"></i> Nuevo Video</a
>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Categoria</th>
        <th scope="col">Archivo</th>
        <th scope="col">Registrado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for video in video_list %}
      <tr>
        <th scope="row">{{ video.id }}</th>
        <td>{{ video.title }}</td>
        <td>{{ video.category }}</td>
        <td>{{ video.filename }}</td>
        <td>{{ video.created_at }}</td>
        <td>
          <a href="{% url 'video-update' video.id %}"
            ><i class="fas fa-pen"></i></a
          >&nbsp;&nbsp;
          <a href="{% url 'video-delete' video.id %}"
            ><i class="fas fa-trash-alt"></i></a
          >&nbsp;&nbsp;
          <a href="{% url 'video-details' video.id %}"
            ><i class="fas fa-eye"></i
          ></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
