{% extends 'base.html' %} {% block content %}

<h1>Lista de Videos</h1>
<a href="{% url 'video-create' %}" class="btn btn-danger m-1 float-right"><i class="fas fa-video"></i> Nuevo Video</a>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Categoria</th>
        <th scope="col">Archivo</th>
        <th scope="col">Registrado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in object_list %}
      <tr>
        <th scope="row">{{ obj.id }}</th>
        <td>{{ obj.title }}</td>
        <td>{{ obj.category }}</td>
        <td>{{ obj.filename }}</td>
        <td>{{ obj.created_at }}</td>
        <td>
          <a href="{% url 'video-update' obj.id %}"><i class="fas fa-pen"></i></a>&nbsp;&nbsp;
          <a href="{% url 'video-delete' obj.id %}"><i class="fas fa-trash-alt"></i></a>&nbsp;&nbsp;
          <a href="{% url 'video-details' obj.id %}"><i class="fas fa-eye"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
